.header__carrito{
    max-width: 100px;
}

.header__cantidad{
    background-color: rgb(177, 17, 17);
    color: white;
    border-radius: 55%;
    font-size: 18px;
    top: 37px;
    position: fixed;
}
