.services-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    
    h3 {
      font-size: 36px;
      font-weight: bold;
      @media all and (max-width: 450px){
        padding: 15px 5px;
        margin: 5px;
        font-size: 30px;
    }
    }
    
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 50px;
      @media all and (max-width: 450px){
        padding: 15px 5px;
        margin: 5px;
    }
    }
    
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media all and (max-width: 450px){
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    }
    
    .card {
      width: 30%;
      margin-bottom: 30px;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      @media all and (max-width: 450px){
        width: 350px;
        height: 650px;
    }
      
      &:hover {
        transform: translateY(-10px);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      img {
        width: 100%;
        height: auto;
      }
      
      .card-body {
        padding: 20px;
        
        .card-title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        
        .card-text {
          font-size: 16px;
        }
      }
    }
  }

  
  